body{background-color:#FFF}
.toollist {
    clear: both;
    display: inline-table;
    width: 1200px;
}
.toollist dt {
    font: 26px "微软雅黑";
    height: 30px;
    margin: 20px 0 10px;
}
.toollist dd {
    border: 1px solid #ddd;
    float: left;
    font: 18px "微软雅黑";
    height: 70px;
    margin: 8px;
    width: 280px;
}
.toollist dd:hover {
    border: 1px solid #5cc2d0;
}
.toollist dd img {
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}
.toollist dd a {
    color: #333;
    display: block;
    padding: 10px 8px;
}
.toollist dd a:hover {
    color: #390;
    text-decoration: none;
}
.toollist dd span {
    color: #999;
    display: block;
    font-size: 12px;
    margin-top: 4px;
}
.tooltext {
    color: #333;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    margin: 10px 0;
    padding: 4px;
    width: 720px;
}
.toolarea {
    color: #333;
    display: block;
    height: 250px;
    margin: 8px 0;
    padding: 4px;
    width: 720px;
}
.bt-blue {
    background: #4899e0 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    margin-right: 12px;
    padding: 0 18px;
}
.bt-blue:hover {
    background: #368dd9 none repeat scroll 0 0;
    text-decoration: none;
}
.bt-green {
    background: #6fb934 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    margin-right: 12px;
    padding: 0 18px;
}
.bt-green:hover {
    background: #5fa924 none repeat scroll 0 0;
    text-decoration: none;
}
.bt-grey {
    background: #ddd none repeat scroll 0 0;
    border: medium none;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    margin-right: 12px;
    padding: 0 18px;
}
.bt-grey:hover {
    background: #ccc none repeat scroll 0 0;
    text-decoration: none;
}
.toolcode {
    margin: 0 8px 26px;
}
.tool {
    float: left;
    margin: 12px 0 40px;
}
.tool dd {
    display: inline;
    float: left;
    height: 132px;
    margin: 12px 38px 0 0;
    width: 82px;
}
.tool dd a {
    color: #666;
    display: block;
    line-height: 30px;
    text-align: center;
}
.tool dd a:hover {
    color: #390;
    text-decoration: none;
}
.tool dd img {
    border: 1px solid #fff;
    height: 80px;
    width: 80px;
}
.nav-tool {
}
.nav-tool img {
    border: 1px solid #eee;
    height: 50px;
    width: 50px;
}
.nav-tool dd {
    float: left;
    height: 120px;
    text-align: center;
    width: 90px;
}
.nav-tool dd a {
    border-bottom: 3px solid #eee;
    color: #666;
    display: block;
}
.nav-tool dd a.on {
    color: #390;
}
.nav-tool dd a:hover {
    color: #390;
}

 select{
    font-size: 14px;
	width: 120px;
        border:1px solid #c9c9c9;
        padding: 5px 5px;
        margin-bottom: 12px;
}

h3 {
    color: #666;
    font-size: 12px;
    font-weight: lighter;
}
input{   border:1px solid #dddddd}

.detail .content a {
    text-decoration: none;
    color:#333
}
.detail .content li.white a{color:#FFF}
.table_parameters {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    margin: 6px auto;
    width:100%
}

.table_parameters tr.tr_head {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: bold;
    padding: 6px;
    text-align: center
}

.table_parameters td,.table_parameters th {
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    line-height: 26px;
    padding: 2px
}

h2 {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
}