.container {
	margin: 25px auto 0
}

.side-left {
	position: relative;
	width: 230px;
	z-index: 2
}

.box {
	background-color: white;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px #eaeaea
}

.box .title {
	border-bottom: 1px solid #ddd;
	padding: 15px 14px 12px
}

.box .title a {
	color: #666;
	float: none;
	text-decoration: none
}

.help-center li {
	line-height: 20px
}

.help-center li a {
	color: #666;
	display: block;
	font-size: 14px;
	padding: 15px 20px;
	position: relative
}

.help-center li a.active {
	background-color: #f7f7f7;
	border-left: 3px solid #ff8400;
	font-weight: bold
}

.help-center li a:hover {
	color: #ff8400
}

.help-center li a span {
	background: url("../images/icons-help.png") no-repeat scroll 0 -581px;
	height: 7px;
	position: absolute;
	right: 12px;
	top: 22px;
	width: 5px
}

.center {
	float: right;
	width: 858px
}

.content {
	padding: 17px 22px 22px 22px
}

.box {
	background-color: white;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px #eaeaea;
	min-height: 500px
}

.content .heading {
	margin-bottom: 24px
}

.content .heading h1 {
	border-bottom: 1px solid #ccc;
	display: inline-block;
	padding: 0 8px 12px;
	width: 100%
}

h1 {
	color: #ff8400;
	font-size: 14px;
	line-height: normal
}

.center .box h2 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px
}

.center .box.content input,.center .box.content textarea {
	font-size: 14px;
	border-color: #c9c9c9;
	border-style: solid;
	border-width: 1px;
	padding: 8px 14px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	transition: border .2s linear 0s,box-shadow .2s linear 0s;
	border-radius: 4px;
	color: #555;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 12px
}
.center .box.content select{
    font-size: 14px;
	width: 320px;
        border:1px solid #c9c9c9;
        padding: 5px 5px;
        margin-bottom: 12px;
}

.inner-content {
	font: 14px/1.5 "Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft YaHei",sans-serif
}

.center .box.content textarea {
	height: 120px
}

.center .box.content input,.center .box.content textarea {
	font-size: 14px;
	width: 290px;
	color: #333
}

.center .box.content .pull-left {
	width: 420px
}

.center .box.content .pull-right {
	border-left: 1px dashed #ddd;
	 padding: 0 15px 0 35px;
	width: 330px;
	float: right
}

.center .box.content .customer-service {
	color: #999;
	margin-bottom: 30px
}

.center .box.content .customer-service .callout {
	display: block;
	margin-bottom: 10px
}

.center .box.content .customer-service .callout .icon {
	background: url("../images/support_icons.png") no-repeat scroll 0 -22px;
	height: 49px;
	width: 59px
}

.center .box.content .customer-service .callout .icon,.center .box.content .customer-service .callout .verbiage {
	float: left
}

.center .box.content .customer-service .callout .verbiage {
	color: #999;
	margin-left: 5px;
	padding-top: 10px;
	float: left
}

.center .box.content .customer-service .callout .verbiage span {
	color: #333;
	font-size: 20px
}

.center .box.content .customer-service p {
	margin: 0 0 10px 0
}

.center .box.content .contact-address {
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	padding: 22px 22px 15px 22px;
	position: relative;
	color: #888;
	font-size: 12px
}

.center .box.content .contact-address .title {
	background-color: white;
	border: 0 none;
	font-weight: bold;
	height: 16px;
	left: 15px;
	line-height: 16px;
	padding: 0 5px;
	position: absolute;
	top: -8px;
	color: #666;
	font-size: 14px
}

.thanks .icon {
	background: url("../images/icons.png") no-repeat scroll 0 -48px;
	height: 48px;
	margin-right: 10px;
	width: 48px;
	float: left
}

.thanks .verbiage {
	text-align: justify;
	width: 342px;
	float: left
}

.thanks .verbiage {
	float: left
}

.thanks .verbiage .callout {
	color: #390;
	font-size: 14px;
	margin-bottom: 4px
}
.red{
    color:red
}
  .pull-left  label{width:80px;display: inline-block}
  
 .pull-right a {
    color: #369;
    text-decoration: underline;
}