
.topic_add{border: 1px solid #d4d4d4;width:748px; font-size: 14px; padding: 30px;}
.topic_add_ul li{margin:0 0 0}
.topic_add_ul label{text-align: left; vertical-align: top; width: 70px; display: inline-block; height: 30px; line-height: 30px;}
.topic_add_ul .label_right{width:665px;float:right; vertical-align: top;}
.topic_add .text{border: 1px solid #cccccc; height: 28px; padding: 3px 6px; width:450px; font-size: 12px; line-height: 28px}
.topic_add .label_right em{border: 1px solid #ccc; cursor: pointer; display: inline-block; font-size: 14px; height: 32px; line-height: 32px; padding: 0 11px; margin:0 22px 0 0}
.topic_add .label_right em.current{border-color:#e9630a; position: relative; color:#e9630a}
.topic_add .label_right em:hover{color:#e9630a}
.topic_add .label_right em.current i{background: url("../images/righbt.png") no-repeat scroll 0 0; bottom: -1px; display: block; height: 14px; position: absolute; right: -1px; width: 15px;}
.tags{background-color: #fff; border: 1px solid #d5d5d5; color: #777; display: inline-block; padding: 4px 6px; vertical-align: middle; width: 506px; height: 80px}
.tags:hover{border-color: #f59942; outline: 0 none;}
.tags[class*="span"]{float: none; margin-left: 0;}
.tags input[type="text"], .tags input[type="text"]:focus{border: 0 none; box-shadow: none; display: inline; line-height: 14px; margin: 0; outline: 0 none; padding: 0; width: 100%;}
.tags .tag{background-color: #91b8d0; color: #fff; display: inline-block; font-size: 12px; font-weight: normal; margin-bottom: 3px; margin-right: 3px; padding: 4px 22px 5px 9px; position: relative; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); transition: all 0.2s ease 0s; vertical-align: baseline; white-space: nowrap;}
.tags .tag .close{bottom: 0; color: #fff; float: none; font-size: 12px; line-height: 20px; opacity: 1; position: absolute; right: 0; text-align: center; text-shadow: none; top: 0; width: 18px;}
.tags .tag .close:hover{background-color: rgba(0, 0, 0, 0.2);}
.close{color: #000; float: right; font-size: 21px; font-weight: bold; line-height: 1; opacity: 0.2; text-shadow: 0 1px 0 #fff;}
.close:hover, .close:focus{color: #000; cursor: pointer; opacity: 0.5; text-decoration: none;}
button.close{background: transparent none repeat scroll 0 0; border: 0 none; cursor: pointer; padding: 0;}
.tags .tag-warning{background-color: #ffb752;}
.topic_add .upload_btn{background-color: #71c73a;text-align: center;color:#FFF;padding:8px 52px;display: inline-block;vertical-align: middle;font-size: 14px}
.topic_add .upload_btn:hover{;text-decoration: none;color:#FFF;opacity:0.8}
.topic_add .bar{border:1px solid #e9630a;width:100%;display: inline-block}
.topic_add .file_remove{margin-left:10px;font-size: 14px;color:#369}


.topic_add .must {
    color: #00a651;
    display: inline-block;
    font-style: normal;
    margin-right: 6px;
    vertical-align: middle;
    width: 5px;
}
.topic_add .getcode_gg_a{color: #369;margin-left: 5px;}


@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icomoon.eot?#iefixw72hig") format("embedded-opentype"), url("../fonts/icomoon.woff?w72hig") format("woff"), url("../fonts/icomoon.ttf?w72hig") format("truetype"), url("../fonts/icomoon.svg?w72hig#icomoon") format("svg");
}
[class^="icon-"], [class*=" icon-"] {
    font-family: "icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.icon-tick::before {
    content: "";
}
.icon-home::before {
    content: "";
}
.icon-clock::before {
    content: "";
}
.icon-chat::before {
    content: "";
}
.icon-msg::before {
    content: "";
}
.icon-resp::before {
    content: "";
}
.icon-addques::before {
    content: "";
}
.icon-user::before {
    content: "";
}
.icon-wiki::before {
    content: "";
}
.icon-plan::before {
    content: "";
}
.icon-note::before {
    content: "";
}
.icon-edit::before {
    content: "";
}
.icon-share::before {
    content: "";
}
.icon-set::before {
    content: "";
}
.icon-camera::before {
    content: "";
}
.icon-del::before {
    content: "";
}
.icon-key::before {
    content: "";
}
.icon-mail::before {
    content: "";
}
.icon-smail::before {
    content: "";
}
.icon-point::before {
    content: "";
}
.icon-ques::before {
    content: "";
}
.icon-tick2::before {
    content: "";
}
.icon-chapter::before {
    content: "";
}
.icon-mobile::before {
    content: "";
}
.icon-gotop::before {
    content: "";
}
.icon-statistic::before {
    content: "";
}
.icon-code::before {
    content: "";
}
.icon-video::before {
    content: "";
}
.icon-test::before {
    content: "";
}
.icon-menu::before {
    content: "";
}
.icon-plus::before {
    content: "";
}
.icon-sub::before {
    content: "";
}
.icon-close::before {
    content: "";
}
.icon-down::before {
    content: "";
}
.icon-left::before {
    content: "";
}
.icon-top::before {
    content: "";
}
.icon-right::before {
    content: "";
}
.icon-exit::before {
    content: "";
}
.icon-refresh::before {
    content: "";
}
.icon-again::before {
    content: "";
}
.icon-bell::before {
    content: "";
}
.icon-nobell::before {
    content: "";
}
.icon-nolearn::before {
    content: "";
}
.icon-half::before {
    content: "";
}
.icon-full::before {
    content: "";
}
.icon-point-revert::before {
    content: "";
}
.icon-ques-revert::before {
    content: "";
}
.icon-tick-revert::before {
    content: "";
}
.icon-flag::before {
    content: "";
}
.icon-msg-revert::before {
    content: "";
}
.icon-ad::before {
    content: "";
}
.icon-imooc::before {
    content: "";
}
.icon-thumb::before {
    content: "";
}
.icon-thumb-revert::before {
    content: "";
}
.icon-star::before {
    content: "";
}
.icon-star-revert::before {
    content: "";
}
.icon-heart::before {
    content: "";
}
.icon-heart-revert::before {
    content: "";
}
.icon-qq::before {
    content: "";
}
.icon-weibo::before {
    content: "";
}
.icon-qqweibo::before {
    content: "";
}
.icon-weixin::before {
    content: "";
}
.icon-folder::before {
    content: "";
}
.icon-jian::before {
    content: "";
}
.icon-ding::before {
    content: "";
}
.icon-you::before {
    content: "";
}
.icon-apple::before {
    content: "";
}
.icon-android::before {
    content: "";
}
.bordered {
    border-bottom: 1px solid #d0d6d9;
}
.panel {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 0 20px;
}
.panel-heading {
    border-bottom: 1px solid #d0d6d9;
}
.panel-title {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}
.qa-right {
    width: 260px;
}
.newques-container {
    margin-bottom: 20px;
}
.newques-container .newques-btn {
    background-color: #cc0000;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s ease 0s;
}
.newques-container .newques-btn i {
    display: inline-block;
    font-size: 16px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
    color:#FFF
}
.newques-container .newques-btn:hover {
    background-color: #f00000;
}
.wenda-form {
    padding: 10px 0 10px 10px;
}

.weekly-hot li {
    border-bottom: 1px solid #edf1f2;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;
}
.weekly-hot li .hottalk {
    float: left;
    line-height: 20px;
    width: 200px;
}
.weekly-hot li .hottalk:hover {
    color: #cc0000;
    text-decoration: underline;
}
.weekly-hot li:last-child {
    border: medium none;
}
.weekly-rank .panel-heading {
    position: relative;
}
.weekly-rank .honormore {
    color: #787d82;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 17px;
}
.weekly-rank .honormore:hover {
    color: #cc0000;
    text-decoration: underline;
}
.weekly-rank li {
    border-bottom: 1px solid #edf0f2;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
}
.weekly-rank li:last-child {
    border-bottom: 0 none;
}
.weekly-rank .roll-head {
    background: #ccc none repeat scroll 0 0;
    border-radius: 20px;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    width: 40px;
}
.weekly-rank .archieve {
    color: #7e878c;
    font-size: 12px;
}
.weekly-rank .rankingnickname {
    color: #363d40;
    font-size: 14px;
    line-height: 18px;
}
.weekly-rank .rankingnickname:hover {
    color: #be3948;
    text-decoration: underline;
}
.weekly-rank .rankingnickname, .weekly-rank .archieve {
    display: block;
    line-height: 18px;
    margin-left: 50px;
    overflow: hidden;
    width: 165px;
    word-break: break-all;
    word-wrap: break-word;
}
.hot1 {
    background: #cc0000 none repeat scroll 0 0;
}
.hot2 {
    background: #ff6e03 none repeat scroll 0 0;
}
.hot3 {
    background: #ff9c00 none repeat scroll 0 0;
}
.hot4 {
    background: #c8cdd2 none repeat scroll 0 0;
}
.hot5 {
    background: #c8cdd2 none repeat scroll 0 0;
}
.hoticon {
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 9px;
    margin-top: 2px;
    text-align: center;
    width: 16px;
}
.rankingnum {
    color: #00b33b;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 13px;
}
.mkhotlist {
    border-bottom: 1px solid #edf1f2;
    color: #99a1a6;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    padding: 20px 0 20px 10px;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;
}
.mkhotlist:last-child {
    border-bottom: 0 none;
}
html, body {
    background-color: #fff;
}
#main {
    padding-top: 0;
}
.qa-right {
    width: 280px;
}
.wenda {
    margin: 20px auto 0;
    position: relative;
    width: 1100px;
}
.adopt {
    color: #00b33b;
}
.wenda-sidebar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 210px;
}
.wenda-main {
    padding: 0 0 20px;
    width: 785px;
    float:left
}
.wenda-slider {
    width: 280px;
    float:right
}
.weekly-rank {
    padding: 0;
}
.fixed {
    margin-top: -80px;
    position: fixed;
    z-index: 10;
}
.wenda-tab {
    padding: 0;
}
.wenda-tab li {
    float: left;
    height: 40px;
    margin-right: 40px;
    position: relative;
    text-align: left;
}
.wenda-tab li a {
    color: #787d82;
    display: block;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
.wenda-tab li a:hover {
    color: #14191e;
    text-decoration: none;
}
.wenda-tab .tabactive {
}
.wenda-tab .tabactive a {
    color: #14191e;
    font-size: 16px;
}
.wenda-my{margin:0 0 20px}
.wenda-my .user-info {
    height: 40px;
    padding-left: 50px;
    position: relative;
}
.wenda-my .user-info a.user-img {
    border-radius: 20px;
    height: 40px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 40px;
}
.wenda-my .user-info img {
    height: 40px;
    width: 40px;
}
.wenda-my .user-info p {
    line-height: 20px;
}
.wenda-my .user-info p.username {
    color: #14191e;
    font-size: 12px;
}
.wenda-my .user-info p.help-count {
    color: #787d82;
    font-size: 12px;
}
.wenda-my .user-about {
    border-bottom: 1px solid #edf1f2;
    border-top: 1px solid #edf1f2;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}
.wenda-my .user-about li {
    display: inline-block;
}
.wenda-my .user-about li.repl {
    border-left: 1px solid #d0d6d9;
    border-right: 1px solid #d0d6d9;
    margin: 0 20px;
    padding: 0 30px;
}
.wenda-my .user-about li a {
    font-weight: 600;
    line-height: 20px;
}
.wenda-my .user-about li i {
    background-color: #cc0000;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    height: 12px;
    line-height: 12px;
    margin-left: 3px;
    min-width: 12px;
    padding: 4px;
    text-align: center;
}
.newpost {
    background-color: #edf1f2;
    border-top: 1px solid #d0d6d9;
    height: 40px;
    line-height: 39px;
    margin: 20px 0 0;
    position: relative;
    z-index: 2;
}
.newpost .quealltab {
    color: #787d82;
    float: left;
    font-size: 12px;
    padding: 0 30px;
}
.newpost .quealltab:hover {
    color: #14191e;
}
.newpost .quealltab.onactive {
    color: #14191e;
}
.wenda-list strong {
    font-weight: bold !important;
}
.wenda-listcon {
    border-bottom: 1px solid #e3e5e5;
    padding: 20px 0;
    position: relative;
}
.headslider {
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 90px;
}
.headslider img {
    border-radius: 50%;
}
.headslider .wenda-nickname {
    color: #787d82;
    display: block;
    font-size: 12px;
    line-height: 1.8em;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
.headslider .wenda-nickname:hover {
    color: #cc0000;
}
.headslider .wenda-head {
    background: #ccc none repeat scroll 0 0;
    border-radius: 20px;
    display: inline-block;
    height: 40px;
    line-height: 0;
    overflow: hidden;
    width: 40px;
}
.wendaslider {
    margin-left: 120px;
    min-height: 85px;
    padding: 10px 0 0 0;
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
}
.wendaslider .wendaquetitle {
    color: #363d40;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}
.wendaslider .wendaquetitle .icon-ad, .wendaslider .wendaquetitle .icon-flag, .wendaslider .wendaquetitle .icon-tick-revert, .wendaslider .wendaquetitle .icon-ques-revert {
    font-size: 16px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 20px;
}
.wendaslider .wendaquetitle .icon-ad {
    color: #0ed4d4;
}
.wendaslider .wendaquetitle .icon-flag {
    color: #a485c7;
}
.wendaslider .wendaquetitle .icon-tick-revert {
    color: #00b33b;
}
.wendaslider .wendaquetitle .icon-ques-revert {
    color: #0088cc;
}
.wendaslider .wendaquetitle .icon-ding {
    color: #cc0000;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.wendaslider .wendaquetitle .wendatitlecon {
    overflow: hidden;
    padding-left: 28px;
    word-break: break-all;
    word-wrap: break-word;
}
.wendaslider .wendaquetitle .wendatitle {
    font-weight: bold;
    line-height: 20px;
}
.wendaslider .wendaquetitle .wendatitle:hover {
    color: #cc0000;
}
.wendaslider .replynumber {
    color: #787d82;
    font-size: 12px;
    height: 51px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
}
.wendaslider .replynumber .number {
    height: 12px;
    line-height: 12px;
    padding-bottom: 7px;
}
.ys, .browsenum {
    float: left;
    height: 31px;
    margin: 10px 0;
    width: 50px;
}
.hasanswernum .ys {
    color: #00b33b;
}
.wendaslider .myques-remind-color {
    color: #cc0000;
}
.wendaslider .myques-remind-color span {
    background: #cc0000 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    text-align: center;
}
.replymegfooter {
    color: #c8cdd2;
    font-size: 12px;
    line-height: 24px;
    margin-top: 5px;
    padding: 10px 0 10px 27px;
}
.replymegfooter .keyword-list, .replymegfooter .wenda-time {
    float: left;
    margin-right: 20px;
}
.replymegfooter .formcourse {
    color: #c8cdd2;
}
.replymegfooter .formcourse:hover {
    color: #787d82;
    text-decoration: underline;
}
.replymegfooter .curCourse {
    margin-left: 10px;
}
.usr-type-tc {
    border: 1px solid #edf0f2;
    color: #99a1a6;
    cursor: pointer;
    font-size: 12px;
    padding: 0 10px;
    position: absolute;
    right: 10px;
    top: 60px;
}
.user-type-hide {
    display: none;
}
.list-tag {
    height: 20px;
    line-height: 20px;
    margin-top: 2px;
}
.replycont {
    margin-top: 14px;
    position: relative;
}
.replycont .icon-msg-revert {
    color: #c8cdd2;
    font-size: 14px;
    height: 14px;
    left: 1px;
    position: absolute;
    top: 5px;
    width: 14px;
}
.replydes {
    color: #787d82;
    font-size: 12px;
    line-height: 20px;
    margin-left: 26px;
    width:550px
}
.replydes .replyuserhead img {
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
.qa-breadcrumb {
    border-bottom: 1px solid #d0d6d9;
    color: #d0d6d9;
    font-size: 14px;
    height: 30px;
    line-height: 16px;
}
.qa-breadcrumb a {
    color: #787d82;
}
.qa-breadcrumb a:hover {
    color: #14191e;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.75;
}
.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}
.correct-layer {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    height: 250px;
    left: 50%;
    margin-left: -200px;
    margin-top: -125px;
    position: fixed;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 400px;
    z-index: 100000;
}
.correct-layer .btn-close {
    background: rgba(0, 0, 0, 0) url("../img/nlogin.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 22px;
    transition: transform 0.2s ease 0s;
    width: 17px;
}
.correct-layer .btn-close:hover {
    background-position: 0 -21px;
    transform: scale(1.1);
}
.correct-layer h3 {
    color: #000;
    font-size: 18px;
    margin-top: 60px;
    text-align: center;
}
.correct-layer p {
    color: #969b9e;
    font-size: 14px;
    padding: 30px 0 20px;
    text-align: center;
}
.correct-layer input {
    border: 1px solid #c7ced1;
    border-radius: 2px;
    color: #969b9e;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-left: 40px;
    padding: 0 10px;
    width: 230px;
}
.correct-layer input.error {
    border: 1px solid #ff0000;
}
.correct-layer .btn-submit {
    background: #39b94e none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    width: 60px;
}
.course-cover {
    display: block;
    height: 60px;
    margin-top: 20px;
    overflow: hidden;
}
.course-cover:hover span {
    color: #c9394a;
}
.course-name {
    color: #60686b;
    float: right;
    font-size: 12px;
    line-height: 20px;
    width: 102px;
    word-break: break-all;
    word-wrap: break-word;
}
.qa-author {
    font-size: 12px;
}
[class^="icon-"], [class*=" icon-"] {
    color: #b5b9bc;
}
.icon-share {
    color: #b5b9bc !important;
}
.about-ques {
    padding: 0;
}
.about-ques .mkhotlist {
    padding-left: 0;
}
.opus-wrap {
    margin: 0 auto;
    min-height: 1000px;
    overflow: visible;
    width: 1200px;
}
.opus-header {
    background-color: #eef1f2;
    border-bottom: 1px solid #edf1f2;
    height: 80px;
    min-width: 1200px;
    width: 100%;
}
.opus-header .opus-wrap {
    height: 80px;
    line-height: 80px;
    min-height: 0;
    overflow: hidden;
    width: 1200px;
}
.opus-header h1 {
    background: rgba(0, 0, 0, 0) url("../img/opus/opus-logo.png") no-repeat scroll left top;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    text-indent: -9999px;
    width: 100px;
}
.opus-header a {
    color: #14191e;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    margin-left: 100px;
}
.opus-header a:hover {
    color: #e71f19;
}
.opus-header a.mycommunity {
    float: right;
}
.qa-breadcrumb a.falsestyle:hover {
    color: #5e5e5e;
    cursor: default;
    text-decoration: none;
}
.wenda-sidebar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
}
.defaultborder {
    background: rgba(0, 0, 0, 0) url("../img/wendanew.png") no-repeat scroll 10px -101px;
    border: 1px solid #d0d6d9;
}
.onfocus {
    border: 1px solid #2ea7e0;
}
.wenda-mkclass .onfocus .btn_search {
    background-position: left bottom;
}
.course-sidebar-search input::-moz-placeholder {
    color: #b4bbbf;
}
.mask {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10001;
}
.bigimg {
    background: #ffffff url("http://static.mukewang.com../img/course/loading.gif") no-repeat scroll center center;
    border: 5px solid #fff;
    display: none;
    height: 500px;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    position: fixed;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 500px;
    z-index: 10002;
}
.close_upLyr {
    right: -15px;
    top: -15px;
}
.close_upLyr {
    background: rgba(0, 0, 0, 0) url("../img/bg_close.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 99;
}

.btn-custom-wenda {
    color: #787d82;
    float: right;
    font-size: 12px;
}
.btn-custom-wenda span {
    display: inline-block;
    padding: 0 20px;
}
.btn-custom-wenda span i {
    color: #00b33b;
    margin-right: 3px;
}
.btn-custom-wenda:link, .btn-custom-wenda:visited {
    color: #787d82;
}
.btn-custom-wenda:hover, .btn-custom-wenda:active {
    color: #14191e;
}
.btn-customed {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    color: #14191e !important;
}
.custom-layout {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}
.custom-content {
    background: #fff none repeat scroll 0 0;
    left: 50%;
    line-height: 24px;
    margin-left: -215px;
    padding: 40px;
    position: absolute;
    top: 30%;
    width: 430px;
}
.custom-content p {
    color: #787d82;
    font-size: 14px;
    line-height: 1.5;
}
.custom-content .custom-tags {
    padding: 15px 0 20px;
}
.custom-content .btnbox {
    text-align: center;
}
.custom-content .btn {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 140px;
}
.custom-content .btn-white {
    border: 1px solid #00b33b;
    color: #00b33b;
}
.wenda-tip {
    background: #fff4e8 none repeat scroll 0 0;
    color: #ff7a19;
    line-height: 40px;
    padding-left: 20px;
}
.hot-label{margin: 2px 0 2px 6px}
.Validform_wrong {
    background: url("../images/wrong.png") no-repeat scroll 0 center;
    color: #f00;
    padding-left: 20px;
}
.topic_add .validate{height:30px;line-height: 30px;margin-left: 82px}
